

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Playfair Display', serif;
//     src: url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Playfair Display', serif;
//     src: url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    font-family: 'Circe', sans-serif !important;
    font-weight: 400;
}

.wrapper_large {
    max-width: 1220px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.db {
    display: block;
}

a {
    text-decoration: none;
}
p {
    margin: 0;
}

.header__phone {
    display: flex;
    align-items: flex-start;
    img {
        margin-right: 10px;
    }
}

.header {
    &_offset {
        padding-top: 23px;
        padding-bottom: 23px;
    }
    &__blog {
        font-weight: 700;
        font-size: 18px;
        img {
            margin-right: 9px;
        }
        span {
            display: inline-block;
            border-bottom: 1px dashed #7180B9;
        }
        line-height: 1.2;
        text-align: right;
        color: #7180B9;
    }
    &__logo {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.2;
        color: #5E5E5E;
    }
    &__descript {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.2;
        color: #8F8F8F;
    }
    &__social {
        &-link {
            display: inline-block;
            margin-right: 6px;
            &:last-child {
                margin-right: 0;
            }
        }
        display: flex;
        align-items: center;
        p {
            margin-right: 15px;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.2;
            text-align: right;
            color: #8F8F8F;

        }
    }
    &-number {
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
        color: #2B2B2B;
    }
    &__call {
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        color: #7180B9;
        border-bottom: 1px dashed #7180B9;
        display: inline-block;
        margin-top: 4px;
    }
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.index {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__mask {
        position: absolute;
        bottom: -39px;
        left: -43px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
        border-radius: 20px 4px;
        padding: 29px 32px 31px 32px;
        &:before {
            content: '';
            position: absolute;
            left: 12px;
            right: 12px;
            top: 12px;
            bottom: 12px;
            border: 1px solid #DEE0EA;
            border-radius: 20px 4px;
        }
    }
    &__name {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        color: #2B2B2B;
        font-family: 'Playfair Display', serif;
        margin-bottom: 10px;
        text-align: center;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        color: #8F8F8F;
    }
    &_offset {
        padding-top: 66px;
        padding-bottom: 20px;
    }
    &__image {
        position: relative;
    }
    &__descript {
        margin-bottom: 60px;
    }
    &_bg {
        background-image: url('../images/dist/indexbg.png');
    }
    &__col {
        max-width: 405px;
        width: 100%;
    }
    &__title {
        font-weight: 700;
        font-size: 62px;
        font-family: 'Playfair Display', serif;
        line-height: 1.3;
        color: #2B2B2B;
    }
    &__descript {
        font-weight: 300;
        font-size: 21px;
        line-height: 1.3;
        color: #8F8F8F;
    }
    &_bg {
        position: relative;
        &:before {
            pointer-events: none;
            background-image: url('../images/dist/bg-b.png');
            bottom: -357px;
            content: "";
            height: 1100px;
            left: 0;
            position: absolute;
            right: 0;
            z-index: 0;
        }
    }
}

.index__col {
    position: relative;
    z-index: 1;
}
.index_offset  {
    margin-bottom: 120px;
}


.btn_default {
    background: linear-gradient(271.95deg, #ED4341 -5.07%, #F97775 100%);
    box-shadow: 0px 3px 0px #D64341;
    border-radius: 11px;
    outline: none;
    border: none;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 33px;
    padding-left: 33px;
}

.btn_img {
    padding-left: 138px;
    img {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.learn__item {
    border: 1px solid #DEE0EA;
    border-radius: 16px;
}

.learn {
    &_bg {
        position: relative;
        &:before {
            content: '';
            width: 671px;
            height: 570px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-image: url('../images/dist/dol.png');
        }
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: -69px;
        margin-left: -9px;
        margin-right: -9px;
    }
    &__width {
        width: 25%;
        margin-bottom: 69px;
        padding-left: 9px;
        padding-right: 9px;
    }
    &__item {
        position: relative;
        padding: 42px 10px 29px;
        background-color: #fff;
    }
    &_offset {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &__number {
        width: 43px;
        height: 43px;
        background: linear-gradient(348.01deg, #7180B9 22.05%, #5263A5 123.92%);
        border-radius: 2px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        font-feature-settings: 'pnum' on, 'lnum' on;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: -33px;
        transform: translateX(-50%);
        font-family: 'Playfair Display', serif;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 15px;
            background-repeat: no-repeat;
            background-image: url('../images/dist/fl.svg');
            bottom: -12px;
        }
    }
    &__descript {
        text-align: center;
        font-weight: 300;
        font-size: 17px;
        line-height: 1.3;
        text-align: center;
        color: #2B2B2B;
    }
}

.title__main {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.subtitle__main {
    font-weight: 350;
    font-size: 25px;
    line-height: 1.3;
    text-align: center;
    color: #1D1D1D;
}

.partners__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners {
    &__width {
        width: 20%;
    }
    &__container {
        margin-top: 50px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.swiper-offset {
    padding: 50px 0;
}

.house {
    &__number {
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 114px;
        line-height: 1.2;
        letter-spacing: 0.035em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #2B2B2B;
    }
}


.house__container {
    max-width: 920px;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.house__number {
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 2;
    line-height: 1;
    position: relative;
}

.house-mask {
    left: -120px;
    position: absolute;
    right: -125px;
    z-index: 0;
    bottom: -255px;
    font-family: 'Circe', sans-serif !important;

}

.house__image {
    position: relative;
    top: 77px;
    left: 36px;
}

.house-under {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 161.683px;
    line-height: 1.2;
    letter-spacing: 0.035em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #E3E3E3;
    text-align: center;
    margin-top: 30px;
    position: relative;
}

.hous-under-mask {
    font-weight: 700;
    font-size: 23px;
    font-family: 'Circe', sans-serif !important;
    line-height: 1;
    position: absolute;
    right: 156px;
    top: 5px;
    color: #ED4442;
}

.house_bg {
    position: relative;
    background: #F5F6F7;
    &:before {
        content: '';
        position: absolute;
        bottom: -179px;
        left: 0;
        right: 0;
        height: 1100px;
        background-image: url('../images/dist/bg-b.png');
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 641px;
        background-image: url('../images/dist/bg-t.png');
    }
}

.house__image {
    position: relative;
}

.house__image_desc {
    position: absolute;
    font-weight: 700;
    font-size: 23px;
    line-height: 1;
    bottom: 100px;
    left: -53px;
    color: #ED4442;
}

.house_offset {
    padding-bottom: 70px;
}

.earn__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: #2B2B2B;
    margin-bottom: 20px;
    span {
        color: #ED4442;
    }
}

.earn__wrap {
    display: flex;
    align-items: center;
    margin-top: 69px;
}

.earn__desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    color: #8F8F8F;
}

.earn__item {
    margin-right: 40px;
    &:last-child {
        margin-right: 0;
    }
}

.earn__image {
    display: flex;
    align-items: flex-end;
    margin-bottom: 13px;
}

.earn__subtitle {
    font-weight: 400;
    font-size: 29px;
    line-height: 1.2;
    color: #1D1D1D;
    margin-bottom: 30px;
}

.earn__descript {
    font-weight: 350;
    font-size: 21px;
    line-height: 1.2;
    max-width: 440px;
    width: 100%;
    color: #8F8F8F;
}

.earn-form__title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #2B2B2B;
    span {
        color: #ED4442
    }
}


.earn__form {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    padding: 56px 46px 53px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 11px;
        right: 11px;
        bottom: 12px;
        pointer-events: none;
        top: 12px;
        border-radius: 19px;
        border: 1px solid #DEE0EA;
    }
}

.earn-form__wrap {
    display: flex;
    align-items: center;
    margin-top: 44px;
    margin-left: -8px;
    margin-right: -8px;
}

.earn__check {
    display: flex;
    justify-content: flex-end;
    padding-right: 73px;
}

.earn-form__width {
    width: 33.3%;
    padding-left: 8px;
    padding-right: 8px;
}

.earn__form {
    position: relative;
    max-width: 1160px;
    width: 100%;
    margin-top: 85px;
    z-index: 2;
}

.earn-form-mask {
    left: -17px;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: -60px;
}

.earn-form__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
    color: #8F8F8F;
}

.input_default {
    background: #F5F6F7;
    border: 1px solid #DEE0EA;
    border-radius: 11px;
    padding: 22px;
    width: 100%;

    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #C4C4C4;
}

.control {
    position: relative;
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 20px;
    cursor: pointer;
    color: #1c1f20;
}
.control--checkbox {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #C4C4C4;
}

.control a {
    color: #7180B9;
    font-size: 12px;
    text-decoration: underline;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: -5px;
    left: -7px;
    width: 23px;
    height: 23px;
    border: 1px solid #DEE0EA;
    border-radius: 3px;
    background-color: #F5F6F7;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    height: 20px;
    left: 10px;
    top: -5px;
    width: 11px;
    transform: rotate(45deg);
    border: solid #7180B9;
    border-width: 0 2px 2px 0;
}

.form-group {
    margin-top: 20px;
}

.control__indicator:after {
    position: absolute;
    display: none;
    content: "";
}

.control input:checked~.control__indicator {
    background: #F5F6F7;
}

.earn-form__item .btn {
    max-width: 290px;
    width: 100%;
    padding-left: 40px;
}

.earn-form__width {
    &:last-child {
        .earn-form__item {
            display: flex;
            justify-content: flex-end;
            img {
                bottom: -8px;
                left: -61px;
            }
        }
    }
}

.earn__boris {
    position: absolute;
    right: 0;
    z-index: 0;
    top: -106px;
}

.earn__form {
    background-color: #fff;
}

.earn__container {
    position: relative;
}

.earn_offset {
    padding-top: 120px;
    padding-bottom: 70px;
}

.earn_bg {
    background: #E5E5E5;
    background-image: url('../images/dist/bg-3.png');
}

.book__container {
    display: flex;
    align-items: flex-start;
}

.book__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    color: #2B2B2B;
    margin-bottom: 30px;
}

.book__descript {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.3;
    color: #1D1D1D;
    span {
        color: #ED4442;   
    }
}

.book_bg {
    background: #e5e5e55c;
    background-image: url('../images/dist/bg4.png');
    position: relative;
    &:before {
        position: absolute;
        bottom: 0;
        background-image: url('../images/dist/bg5.png');
        left: 0;
        right: 0;
        height: 646px;
        content: '';
        z-index: 0;
    }
}

.book__under{position: relative;}

.book_offset {
    padding-top: 70px;
    padding-bottom: 100px;
}

.book__image {
    position: relative;
    left: -120px;
}

.book__col {
    max-width: 470px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    top: 126px;
    right: 50px;
}

.book__mask {
    position: absolute;

    width:369px;
    height: 133px;
    bottom: 173px;
    right: -279px;
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    span {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.book-mask-pos {
    position: relative;
    right: -51px;
    top: 17px;
}

.book-line {
    border: 1px dashed #fff;
    height: 1px;
    left: -27px;
    position: absolute;
    top: -17px;
    transform: rotate(31deg);
    width: 115px;
    .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #FFFFFF;
        position: absolute;
        top: -10px;
        left: -21px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 5px;
            top: 5px;
            width: 8px;
            height: 8px;
            background: #FFFFFF;
            border-radius: 50%;
        }
    }
}

.book-descript {
    font-weight: 350;
    font-size: 21px;
    line-height: 1.2;
    max-width: 777px;
    width: 100%;
    text-align: center;
    color: #2B2B2B;
    margin-bottom: 45px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.book-table__number {
    font-weight: 400;
    font-size: 91px;
    line-height: 1.2;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #2B2B2B;
    margin-bottom: 10px;
}

.book-table__head {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.1em;
    color: #7180B9;
    margin-bottom: 15px;
}

.book-table__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.book-table__width {
    width: 33.3%;
    padding-left: 30px;
    padding-right: 30px;
}

.book-table__descript {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.195em;
    text-transform: uppercase;
    color: #8F8F8F;
}

.book-table {
    background: #fff;
    border-radius: 19px;
    -webkit-box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
    box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
    padding: 70px 46px 53px;
    margin-top: 85px;
    max-width: 1160px;
    position: relative;
    width: 100%;
    z-index: 2;
    &:before {
        border: 1px solid #dee0ea;
        border-radius: 19px;
        bottom: 12px;
        content: "";
        left: 11px;
        pointer-events: none;
        position: absolute;
        right: 11px;
        top: 12px;
    }

}

.book-table-mask {
    left: -17px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -60px;
}

.book-pr__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-pr {
    position: relative;
    z-index: 2;
}

.book-pr__title {
    margin-bottom: 15px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #2B2B2B;
}

.book-pr__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    text-align: center;
    color: #8F8F8F;
}

.book-pr__img {
    margin-top: -35px;
    margin-bottom: 10px;
}

.book__wrapper {
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: flex-start;
    margin-left: -35px;
    margin-right: -35px;
}

.book-pr__width {
    padding-left: 35px;
    padding-right: 35px;
    width: 33.3%;
    &:nth-child(2) {
        margin-top: -95px;
    }
}

.book-plan__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
}

.book-plan__width {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 30px;
}

.book-plan__image {
    margin-bottom: 10px;
}


.book-plan__container {
    display: flex;
    align-items: flex-end;
}

.book-plan-circle__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.2;
    text-align: center;
    color: #2B2B2B;
    margin-bottom: 10px;
}

.book-plan-circle__descript {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #2B2B2B;
}

span.red {
    color: #ED4442;
}

.book-plan__bor {
    position: relative;
}

.book-plan-circle {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
}

.book-plan__col {
    width: 552px;
    position: relative;
    z-index: 1;
}

.book-plan__bor {
    width: calc(100% - 560px);
}

.book-plan__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
        border-radius: 19px;
        padding: 47px 70px 70px 70px;
    &:before {
        content: '';
        position: absolute;
        pointer-events: none;
        left: 11px;
        border-radius: 19px;
        right: 11px;
        bottom: 12px;
        top: 12px;
        border: 1px solid #DEE0EA;
    }
}

.book-plan__mask {
    left: -17px;
    position: absolute;
    right: 0;
    top: -67px;
}

.book-plan__name {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;

    max-width: 455px;
    width: 100%;
}

.book-plan__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    text-align: center;
    color: #2B2B2B;
    margin-bottom: 86px;
    span {
        display: block;
        color: #ED4442;
    }
}

.book-plan__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-plan__descript {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    text-align: center;
    color: #8F8F8F;
}

.book-plan_bg {
    position: relative;
    &:before {
        content: '';
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -225px;
        z-index: 1;
        height: 870px;
        background-image: url('../images/dist/bg5.png');
    }
}

.sw-item {
    hr {
        margin: 0;
        padding: 0;
        border: none;
        border-top: 1px solid #EFEFEF;
        background: none;
        opacity: 1;
    }
}

.sw-item__container {
    display: flex;
    align-items: flex-start;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 32px;
}

.sw-item__col{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.sw-item__name {
    background-color: #fff;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #8F8F8F;
    padding-right: 12px;
    z-index: 1;
    position: relative;
}

.sw-item__pr {
    padding-left: 10px;
    z-index: 1;
    position: relative;
    background-color: #fff;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: right;
    color: #2B2B2B;
}

.sw-item__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        pointer-events: none;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-top: 1px dashed #DEE0EA;
    }
}

.sw-item__content {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
    border-radius: 19px;
    padding: 40px 44px 43px 44px;
    max-width: 745px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -127px;
    z-index: 2;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 12px;
        right: 12px;
        top: 12px;
        bottom: 12px;
        pointer-events: none;
        border: 1px solid #DEE0EA;
        border-radius: 15px;
    }
}

.sw-img {
    width: 100%;
    border-radius: 29px;
    height: 540px;
}

.sw-item-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.sw-item__title {
    max-width: 480px;
    width: 100%;

    margin-bottom: 13px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #2B2B2B;
}

.sw-item__id {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #2B2B2B;
    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        color: #8F8F8F;
        display: inline-block;
        margin-right: 5px;
    }
}

.sw-item__map {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #7180B9;
    margin-bottom: 17px;
    img {
        margin-right: 8px;
    }
    display: flex;
    align-items: center;
}

.sw-item__price {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #8F8F8F;
    span {
        display: inline-block;
        margin-right: 8px;
    }
    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        color: #2B2B2B;
    }
}

.sw-item-shadow {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: -9px;
        left: 30px;
        right: 30px;
        bottom: 0;
        z-index: 0;
        background: #FFFFFF;
        opacity: 0.62;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
        border-radius: 19px;

        max-width: 745px;
        pointer-events: none;
        width: 100%;
        
        left: 50%;
        transform: translateX(-50%);
    }
}

.sw-item__content {
    z-index: 1;
}

.swiper-button-prev {
    width: 69px;
    height: 69px;
    border: 1px solid #DEE0EA;
    border-radius: 50%;
    left: 231px;
    &:after {
        display: none;
    }
    &:before {
        border-bottom: 1px solid #a6a6a6;
        border-left: 1px solid #a6a6a6;
        content: "";
        height: 20px;
        left: 28px;
        position: absolute;
        transform: rotate(45deg);
        width: 20px;
    }
}

.swiper-button-next {
    width: 69px;
    height: 69px;
    border: 1px solid #DEE0EA;
    border-radius: 50%;
    right: 231px;
    &:after {
        display: none;
    }
    &:before {
        border-bottom: 1px solid #a6a6a6;
        border-left: 1px solid #a6a6a6;
        content: "";
        height: 20px;
        left: 20px;
        position: absolute;
        transform: rotate(225deg);
        width: 20px;
    }
}

.swiper-arrow-wrap {
    position: absolute;
    top: 266px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.book-plan_offset {
    margin-bottom: 100px;
}

.book-form__image {
    position: relative;
    z-index: 1;
    margin-bottom: -192px;
}

.book-form .earn-form__width:last-child .earn-form__item img {
    bottom: 0;
    left: 0;
}

.book-form {
    .earn-form__item .btn {
        max-width: 340px;
        padding-left: 137px;
    }
}

.book-form_offset {
    padding-top: 100px;
}

.invest__social a {
    margin-right: 11px;
    &:last-child {
        margin-right: 0;
    }
}

.invest__container {
    display: flex;
    align-items: flex-end;
}

.invest__title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
    text-align: center;
    color: #2B2B2B;
    z-index: 1;
    position: relative;
}

.invest__name {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    color: #2B2B2B;
    margin-bottom: 25px;
}

.invest__form {
    position: relative;
    padding: 45px 75px 30px 75px;
    margin-top: 84px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    &:before {
        content: '';
        position: absolute;
        left: 12px;
        top: 12px;
    border-radius: 19px;
    right: 12px;
        bottom: 12px;
        border: 1px solid #DEE0EA;
    }
}

.invest__mask {
    left: -18px;
    position: absolute;
    right: -18px;
    top: -74px;
    img {
        width: 100%;
    }
}

.invest__list {
    font-weight: 400;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    max-width: 331px;
    width: 100%;
    line-height: 1.3;
    color: #8F8F8F;
    margin-bottom: 18px;
    &:last-child {
        margin-bottom: 0;
    }
    display: flex;
    align-items: center;
    img {
        margin-right: 13px;
    }
    
}

.invest__collumn {
    margin-bottom: 33px;
}

.invest__button {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invest__social {
    display: flex;
    align-content: center;
    justify-content: center;
}

.invest_offset {
    padding-top: 180px;
}

.inves_bg {
    background-image: url('../images/dist/bg6.jpg');
    position: relative;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 776px;
        pointer-events: none;
        bottom: 0;
        background-image: url('../images/dist/bg-top-4.png');
    }
}

.book-form_bg {
    background-color: #cccccc2b;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        pointer-events: none;
        top:0;
        height: 645px;
        background-image: url('../images/dist/bg-top-6.png');

    }
}

.contacts__title {
    color: #1d1d1d;
    font-family: 'Playfair Display';

    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
}

.contacts__link {
    align-items: center;
    color: #1d1d1d;
    display: flex;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 24px;
    img {
        margin-right: 15px;
    }
}

.contacts__mail {
    color: #7180B9;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}

.contacts__link span {
    display: block;
}

.contacts__mail span {
    text-decoration-line: underline;
}

.contacts__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
}

.contacts__col {
    width: calc(100% - 758px);
}

.contacts__map {
    width: 758px;
}

.contacts__map iframe {
    border-radius: 22px;
    height: 595px;
    width: 100%;
}

.btn_green {
    background: linear-gradient(99.83deg, #60FC7B -26.36%, #26D145 96.16%);
    box-shadow: 0px 3px 0px #29C045;
    border-radius: 11px;
    max-width: 273px;
    width: 100%;
    img {
        margin-right: 10px;
    }
}

.contacts__button {
    padding-left: 34px;
}

.contacts_offset {
    padding-bottom: 70px;
    padding-top: 100px;
}

.footer_bg {
    background: #1d1d1d;
}
.footer_offset {
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.footer__desc {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.footer__privacy {
    color: #fa9f4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer-link-top {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

.footer-link-top img {
    margin-left: 9px;
    margin-top: 3px;
}

.learn_offset {
    padding-bottom: 120px;
}

.popup_default {
    border-radius: 31px;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    position: relative;
    width: 100%;
}

.popup-wrapper {
    align-items: center;
    display: flex;
}

.popup__container {
    background-color: #fff;
    border-radius: 31px;
    padding: 78px 50px 58px;
}

.popup__title {
    text-align: center;
    color: #19232a;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Playfair Display';
    margin-bottom: 15px;
}

.popup__subtitle {
    text-align: center;
    color: #535253;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 32px;
}

.contact__item {
    margin-bottom: 18px;
    .input_default {
        background-color: #fff;
        color: #8F8F8F
    }
}

.contact__form {
    .form-group {
        margin-left: 8px;
    }
}

.form-btn {
    margin-top: 27px;
    .btn_default {
        max-width: 100%;
        width: 100%;
    }
}

.mfp-close {
    right: 20px;
    top: 10px;
}

.contact__form {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .control {
        padding-left: 32px;
    }
}